.header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header__nav, .header__logo {
  padding: 0px 25px;
}

@-webkit-keyframes nav-underline {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes nav-underline {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__logo img {
  height: 24px;
  width: 112px;
  transition: all 0.5s linear 0s;
  cursor: pointer;
}
.header__logo img:hover {
  opacity: 0.7;
}
.header__nav {
  display: flex;
  gap: 30px;
  margin-left: 17px;
}
.header__nav-item {
  opacity: 0.5;
  transition: all 0.5s linear 0s;
}
.header__nav-item:hover {
  opacity: 1;
}
.header__nav li:hover .nav-border {
  -webkit-animation-name: nav-underline;
          animation-name: nav-underline;
}
.header__nav .nav-border {
  height: 2px;
  width: 0;
  background-color: brown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.header__cart {
  display: flex;
  align-items: center;
  transition: all 0.5s linear 0s;
  cursor: pointer;
}
.header__cart-svg {
  height: 20px;
  width: 16px;
  margin: 0px 10px 2px 0px;
}
.header__cart-item {
  margin-right: 10px;
  color: #1d1f2e;
}
.header__cart:hover {
  opacity: 0.7;
}
.header__amount {
  height: 20px;
  width: 20px;
  color: white;
  background-color: #1d1f2e;
  border-radius: 50%;
  padding-left: 1px;
  padding-top: 2px;
  text-align: center;
}
.header__burger {
  display: none;
  padding: 0px 25px 0px 50px;
}
@media screen and (max-width: 993px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .header__burger {
    padding: 0 25px;
  }
}