.product.big .product__img-container {
  height: 540px;
}
.product__img-container {
  height: 380px;
  position: relative;
  cursor: pointer;
}
.product__img-container img {
  position: absolute;
}
.product__img-container .btn {
  position: absolute;
  width: 93%;
  bottom: 5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: 0.5s;
}
.product__img-container .product__background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.3);
  transition: 0.5s;
  opacity: 0;
}
.product__img-container:hover .product__background {
  opacity: 1;
}
.product__img-container:hover .btn {
  bottom: 15px;
}
.product__details {
  text-align: center;
  margin: 30px auto;
}
.product__name {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: Karla, sans-serif;
  margin-bottom: 10px;
}
.product__price {
  font-size: 16px;
  color: rgba(29, 31, 46, 0.7);
}
.product__price span {
  text-decoration: line-through;
  font-size: 13px;
}