@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.article, .magazine, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__nav, .header__logo {
  padding: 0px 25px;
}

@-webkit-keyframes nav-underline {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes nav-underline {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__logo img {
  height: 24px;
  width: 112px;
  transition: all 0.5s linear 0s;
  cursor: pointer;
}
.header__logo img:hover {
  opacity: 0.7;
}
.header__nav {
  display: flex;
  gap: 30px;
  margin-left: 17px;
}
.header__nav-item {
  opacity: 0.5;
  transition: all 0.5s linear 0s;
}
.header__nav-item:hover {
  opacity: 1;
}
.header__nav li:hover .nav-border {
  -webkit-animation-name: nav-underline;
          animation-name: nav-underline;
}
.header__nav .nav-border {
  height: 2px;
  width: 0;
  background-color: brown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.header__cart {
  display: flex;
  align-items: center;
  transition: all 0.5s linear 0s;
  cursor: pointer;
}
.header__cart-svg {
  height: 20px;
  width: 16px;
  margin: 0px 10px 2px 0px;
}
.header__cart-item {
  margin-right: 10px;
  color: #1d1f2e;
}
.header__cart:hover {
  opacity: 0.7;
}
.header__amount {
  height: 20px;
  min-width: 20px;
  color: white;
  background-color: #1d1f2e;
  border-radius: 50%;
  padding-left: 1px;
  padding-top: 2px;
  text-align: center;
}
.header__burger {
  display: none;
  padding: 0px 25px 0px 50px;
}
@media screen and (max-width: 993px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .header__burger {
    padding: 0 25px;
  }
}

.article, .magazine, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.title {
  align-items: center;
  height: calc(100vh - 80px);
  max-width: 1440px;
  color: white;
  padding: 0px 30px;
  background-image: linear-gradient(180deg, rgba(5, 8, 39, 0.4), rgba(5, 8, 39, 0.4)), url("../img/title-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto, cover;
}
.title .title__wrapper {
  text-align: center;
}
.title .title__wrapper .label {
  margin: 30px 0;
  color: white;
}
.title .title__wrapper h1 {
  font-size: 48px;
  line-height: 60px;
}
.title .title__wrapper p, .title .title__wrapper h1 {
  margin-bottom: 30px;
}

.article, .magazine, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.content {
  display: block;
  max-width: 634px;
  margin: 100px auto;
  text-align: center;
}
.content__title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.content__paragraph {
  margin-bottom: 25px;
}
.content__link {
  color: #a25f4b;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
  line-height: 28px;
}

.article, .magazine, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.product.big .product__img-container {
  height: 540px;
}
.product__img-container {
  height: 380px;
  position: relative;
  cursor: pointer;
}
.product__img-container img {
  position: absolute;
}
.product__img-container .btn {
  position: absolute;
  width: 93%;
  bottom: 5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: 0.5s;
}
.product__img-container .product__background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.3);
  transition: 0.5s;
  opacity: 0;
}
.product__img-container:hover .product__background {
  opacity: 1;
}
.product__img-container:hover .btn {
  bottom: 15px;
}
.product__details {
  text-align: center;
  margin: 30px auto;
}
.product__name {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: Karla, sans-serif;
  margin-bottom: 10px;
}
.product__price {
  font-size: 16px;
  color: rgba(29, 31, 46, 0.7);
}
.product__price span {
  text-decoration: line-through;
  font-size: 13px;
}

.article, .magazine, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.magazine__section {
  margin: 0px 0px 100px 0px;
}
.magazine__img {
  height: 280px;
}
.magazine__small-img img {
  height: 130px;
}
.magazine__mug-hand {
  margin-bottom: 20px;
}
.magazine__details {
  margin: 0 0 0 60px;
  padding-top: 20px;
  text-align: left;
}
.magazine__details h2 {
  font-size: 34px;
  margin: 10px 0 15px;
  line-height: 50px;
}
.magazine__details p {
  margin-bottom: 15px;
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.magazine__details .btn {
  background-color: #1d1f2e;
  color: white;
}
.magazine .label {
  margin: 0;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .magazine__details {
    margin: 0;
    text-align: center;
  }
  .magazine .label {
    text-align: center;
  }
}

.article, .title, .magazine {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.article__wrapper {
  height: 553px;
  margin: 0px 0px 50px 0px;
}
.article__img {
  height: 300px;
  margin-bottom: 20px;
}
.article a {
  font-size: 20px;
  line-height: 32px;
  font-family: Karla, sans-serif;
}
.article p {
  margin: 20px 0;
}
.article .label {
  margin: 0;
  text-align: left;
}

.title, .magazine, .article {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content__paragraph, .article p {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.subscribe {
  padding: 0px 30px;
  border: 1px solid gray;
  margin: 0px auto 100px;
  text-align: center;
  padding: 80px 100px 85px;
  background-color: #1d1f2e;
  color: #fff;
}
.subscribe .label {
  margin: 0;
  color: #fff;
  opacity: 0.6;
}
.subscribe h1 {
  font-size: 36px;
  line-height: 50px;
  margin: 15px 0 25px;
  opacity: 0.6;
}
.subscribe__input-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.subscribe__input {
  width: 350px;
  height: 54px;
  padding: 18px 24px;
  border: 0.8px solid white;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
  margin-right: 5px;
  opacity: 0.6;
}
.subscribe .btn {
  width: 120px;
  padding: 0 5px;
}

.footer__wrapper {
  margin: 0px 0px 100px 0px;
}

.footer {
  color: rgba(29, 31, 46, 0.7);
  font-size: 13px;
}
.footer .label {
  margin: 0 0 20px 0;
  text-align: left;
}
.footer img {
  height: 24px;
  width: 112px;
  margin-bottom: 20px;
}
.footer p {
  margin-bottom: 20px;
  line-height: 22px;
}
.footer li {
  margin-bottom: 5px;
}
.footer a {
  display: block;
}
.footer__email {
  color: #1d1f2e;
  font-size: 24px;
  line-height: 36px;
}
.footer__paragraph {
  opacity: 0.5;
}
@media screen and (max-width: 991px) {
  .footer {
    text-align: center;
  }
  .footer .label {
    margin: 30px 0;
    text-align: center;
  }
}

.flex-space-btw {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin-bottom: 5px;
}

.title, .magazine, .article {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content__paragraph, .article p {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

body {
  margin: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  line-height: 28px;
  font-weight: 400;
  font-family: Karla, sans-serif;
  font-size: 16px;
}

.background-container {
  background-color: white;
  overflow: hidden;
}

.container {
  max-width: 940px;
}

.block {
  border: 1px solid grey;
  height: 100%;
  text-align: center;
}

.btn {
  height: 54px;
  width: 230px;
  background-color: white;
  cursor: pointer;
}

.label {
  text-align: center;
  margin: 100px 0px 100px 0px;
  color: rgba(29, 31, 46, 0.7);
}

.transparent-block {
  height: 340px;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}