* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.article, .magazine, .more-products .flex-center, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__nav, .header__logo {
  padding: 0px 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__logo img {
  height: 24px;
  width: 112px;
}
.header__nav {
  display: flex;
  margin-left: 17px;
}
.header__nav-item {
  margin-right: 30px;
  opacity: 0.5;
}
.header__cart {
  display: flex;
  align-items: center;
}
.header__cart-svg {
  height: 20px;
  width: 16px;
  margin: 0px 10px 2px 0px;
}
.header__cart-item {
  margin-right: 10px;
  color: #1d1f2e;
}
.header__amount {
  height: 20px;
  width: 20px;
  color: white;
  background-color: #1d1f2e;
  border-radius: 50%;
  padding: 1px 0px;
  text-align: center;
}
.header__burger {
  display: none;
  padding: 0px 25px 0px 50px;
}
@media screen and (max-width: 993px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .header__burger {
    padding: 0 25px;
  }
}

.article, .magazine, .more-products .flex-center, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.title {
  align-items: center;
  min-height: 530px;
  max-width: 1440px;
  color: white;
  padding: 0px 30px;
  background-image: linear-gradient(180deg, rgba(5, 8, 39, 0.4), rgba(5, 8, 39, 0.4)), url("/img/title-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto, cover;
}
.title .title__wrapper {
  text-align: center;
}
.title .title__wrapper .label {
  margin: 30px 0;
  color: white;
}
.title .title__wrapper h1 {
  font-size: 48px;
  line-height: 60px;
}
.title .title__wrapper p, .title .title__wrapper h1 {
  margin-bottom: 30px;
}

.article, .magazine, .more-products .flex-center, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.content {
  display: block;
  max-width: 634px;
  margin: 100px auto;
  text-align: center;
}
.content__title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.content__paragraph {
  margin-bottom: 25px;
}
.content__link {
  color: #a25f4b;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
  line-height: 28px;
}

.article, .magazine, .more-products .flex-center, .title {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.product {
  height: 657px;
}
.product__img-container {
  height: 540px;
}
.product__details {
  text-align: center;
  margin: 30px auto;
}
.product__name {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: Karla, sans-serif;
  margin-bottom: 10px;
}
.product__price {
  font-size: 16px;
  color: rgba(29, 31, 46, 0.7);
}
.product__price span {
  text-decoration: line-through;
  font-size: 13px;
}

.more-products {
  margin: 0px 0px 100px 0px;
}
.more-products__content {
  height: 497px;
  margin: 0px 0px 50px 0px;
}
.more-products__img {
  height: 380px;
}

.article, .magazine, .title, .more-products .flex-center {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.magazine {
  height: 280px;
  margin-bottom: 130px;
}
.magazine__section {
  height: 280px;
  margin: 0px 0px 100px 0px;
}
.magazine__img {
  height: 280px;
}
.magazine__small-img img {
  height: 130px;
}
.magazine__mug-hand {
  margin-bottom: 20px;
}
.magazine__details {
  margin: 0 0 0 60px;
  padding-top: 20px;
  text-align: left;
}
.magazine__details h2 {
  font-size: 34px;
  margin: 10px 0 15px;
  line-height: 50px;
}
.magazine__details p {
  margin-bottom: 15px;
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.magazine__details .btn {
  background-color: #1d1f2e;
  color: white;
}
.magazine .label {
  margin: 0;
  text-align: left;
}

.article, .title, .more-products .flex-center, .magazine {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article p, .content__paragraph {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.article__wrapper {
  height: 553px;
  margin: 0px 0px 50px 0px;
}
.article__img {
  height: 300px;
  margin-bottom: 20px;
}
.article a {
  font-size: 20px;
  line-height: 32px;
  font-family: Karla, sans-serif;
}
.article p {
  margin: 20px 0;
}
.article .label {
  margin: 0;
  text-align: left;
}

.title, .more-products .flex-center, .magazine, .article {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content__paragraph, .article p {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

.subscribe {
  height: 327px;
  padding: 0px 30px;
  border: 1px solid gray;
  margin: 0px auto 100px;
  text-align: center;
  padding: 80px 100px 85px;
  background-color: #1d1f2e;
  color: #fff;
}
.subscribe .label {
  margin: 0;
  color: #fff;
  opacity: 0.6;
}
.subscribe h1 {
  font-size: 36px;
  line-height: 50px;
  margin: 15px 0 25px;
  opacity: 0.6;
}
.subscribe__input-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.subscribe__input {
  width: 350px;
  height: 54px;
  padding: 18px 24px;
  border: 0.8px solid white;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
  margin-right: 5px;
  opacity: 0.6;
}
.subscribe .btn {
  width: 120px;
  padding: 0 5px;
}

.footer__wrapper {
  height: 204px;
  margin: 0px 0px 100px 0px;
}

.footer {
  color: rgba(29, 31, 46, 0.7);
  font-size: 13px;
}
.footer .label {
  margin: 0 0 20px 0;
  text-align: left;
}
.footer img {
  height: 24px;
  width: 112px;
  margin-bottom: 20px;
}
.footer p {
  margin-bottom: 20px;
  line-height: 22px;
}
.footer li {
  margin-bottom: 5px;
}
.footer a {
  display: block;
}
.footer__email {
  color: #1d1f2e;
  font-size: 24px;
  line-height: 36px;
}
.footer__paragraph {
  opacity: 0.5;
}
@media screen and (max-width: 991px) {
  .footer {
    text-align: center;
  }
  .footer .label {
    margin: 30px 0;
    text-align: center;
  }
}

.flex-space-btw {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin-bottom: 5px;
}

.title, .more-products .flex-center, .magazine, .article {
  display: flex;
  justify-content: center;
}

.label, .btn, .header {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content__paragraph, .article p {
  color: rgba(29, 31, 46, 0.7);
}

.header__logo, .header__nav {
  padding: 0px 25px;
}

@font-face {
  font-family: Karla;
  src: url(fonts/Karla.zip);
}
body {
  margin: 0;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  font-family: Karla, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.background-container {
  background-color: white;
  overflow: overlay;
}

.container {
  max-width: 940px;
}

.block {
  border: 1px solid grey;
  height: 100%;
  text-align: center;
}

.btn {
  height: 54px;
  width: 230px;
  background-color: white;
}

.label {
  text-align: center;
  margin: 100px 0px 100px 0px;
  color: rgba(29, 31, 46, 0.7);
}

.transparent-block {
  height: 340px;
}