@import "templates.scss";

@keyframes nav-underline {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  @extend %text-style;


  &__logo {
    @extend %padding;

    img {
      height: 24px;
      width: 112px;
      transition: all 0.5s linear 0s;
      cursor: pointer;
    }

    img:hover {
      opacity: 0.7;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;
    @extend %padding;
    margin-left: 17px;

    &-item {
      opacity: 0.5;
      transition: all 0.5s linear 0s;
    }

    &-item:hover {
      opacity: 1;
    }

    li:hover {
      .nav-border {
        animation-name: nav-underline;
      }
    }

    .nav-border {
      height: 2px;
      width: 0;
      background-color: brown;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    transition: all 0.5s linear 0s;
    cursor: pointer;
    
    &-svg {
      height: 20px;
      width: 16px;
      margin: 0px 10px 2px 0px;
    }

    &-item {
      margin-right: 10px;
      color: #1d1f2e;
    }
  }

  &__cart:hover {
    opacity: 0.7;
  }

  &__amount {
    height: 20px;
    width: 20px;
    color: white;
    background-color: #1d1f2e;
    border-radius: 50%;
    padding-left: 1px;
    padding-top: 2px;
    text-align: center;
  }

  &__burger {
    display: none;
    padding: 0px 25px 0px 50px;
  }

  @media screen and (max-width: 993px) {
    &__nav {
      display: none;
    }
    &__burger {
      display: block;
    }
  }

  @media screen and (max-width: 480px) {
    &__burger {
      padding: 0 25px;
    }
  }
}
