@import "templates.scss";

.product {
  &.big {
    .product__img-container {
      height: 540px;
    }
  }

  &__img-container {
    height: 380px;
    position: relative;
    cursor: pointer;

    img {
      position: absolute;
    }

    .btn {
      position: absolute;
      width: 93%;
      bottom: 5px;
      right: 0;
      left: 0;
      margin: 0 auto;
      transition: .5s;
    }

    .product__background {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(56, 56, 56, .3);
      transition: .5s;
      opacity: 0;
    }

    &:hover {
      .product__background {
        opacity: 1;
      }
      .btn {
        bottom: 15px;
      }
    }
  }

  &__details {
    text-align: center;
    margin: 30px auto;
  }

  &__name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: Karla, sans-serif;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 16px;
    color: rgba(29, 31, 46, 0.7);

    span {
      text-decoration: line-through;
      font-size: 13px;
    }
  }
}
