%flex-center {
  display: flex;
  justify-content: center;
}

%text-style {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

%paragraph-color {
  color: rgba(29, 31, 46, 0.7);
}

%padding {
  padding: 0px 25px;
}
