@import "templates.scss";

.title {
  @extend %flex-center;
  align-items: center;
  min-height: 530px;
  max-width: 1440px;
  color: white;
  padding: 0px 30px;
  background-image: linear-gradient(180deg, rgba(5, 8, 39, 0.4), rgba(5, 8, 39, 0.4)), url('../img/title-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto, cover;

  .title__wrapper {
    text-align: center;

    .label {
      margin: 30px 0;
      color: #FFFF;
    }

    h1 {
      font-size: 48px;
      line-height: 60px;
    }

    p, h1 {
      margin-bottom: 30px;
    }
  }
}
